---
import Layout from "../layouts/Layout.astro";


---

<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3x1 text-center">Esta pagina no Existe.......</h1>
        <img src="https://en.ryte.com/magazine/wp-content/uploads/2017/10/1500x800-404EInstellungen-1.png" alt="">
    </div>
</Layout>